* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #102e43;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    width: 23%;
    height: 460px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.box form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.box form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.box form label {
    text-align: left;
    width: 100%;
    padding: 10px;
}

.box form button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.box form button:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.box h2 {
    text-align: center;
    margin-bottom: 10px;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.resultado p {
    margin-bottom: 10px;
}