*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    min-height: 100vh;
    background-image: url("img/fundo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form select, form button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.exibir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12599b;
    width: 700px;
    margin-top: 20px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.exibir img{
    width: 700px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}
