*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 1200px;
    margin: 0 auto;
    background-color: #f0f0f0;
}

#container{
    display: flex;
    align-items: space-between;
    gap: 50px;
    margin-top: 220px;
}
